<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <header>
            <!-- 내 로고가 들어가면 보통 여기 ? -->
            <h1>Cha Seung Cheol's Portfolio</h1>
        </header>
        <section>

        </section>
        <section>

        </section>
        <section>

        </section>
        <footer>
            <div>전화번호 - 010.5057.2990</div>
            <div>email - cscculture95@gmail.com</div>
        </footer>
    </body>
</html>