<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/main.css">
        <link href="/fa/font-awesome.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <!-- 내 로고가 들어가면 보통 여기 ? -->
            <div class="title">
                <div class="dot" style="--i:0;"></div>
                <div class="dot" style="--i:1;"></div>
                <div class="dot" style="--i:2;"></div>
                <div class="dot" style="--i:3;"></div>
                <div class="dot" style="--i:4;"></div>
                <div class="dot" style="--i:5;"></div>
                <div class="dot" style="--i:6;"></div>
                <div class="dot" style="--i:7;"></div>
                <div class="dot" style="--i:8;"></div>
                <div class="dot" style="--i:9;"></div>
                <div class="dot" style="--i:10;"></div>
                <div class="dot" style="--i:11;"></div>
                <div class="dot" style="--i:12;"></div>
                <div class="dot" style="--i:13;"></div>
                <div class="dot" style="--i:14;"></div>
                <div class="dot" style="--i:15;"></div>
                <div class="dot" style="--i:16;"></div>
                <div class="dot" style="--i:17;"></div>
                <div class="dot" style="--i:18;"></div>
                <div class="dot" style="--i:19;"></div>
            </div>
            <h2>Cha Seung Cheol's Portfolio</h2>
            <div class="title">
                <div class="dot" style="--i:0;"></div>
                <div class="dot" style="--i:1;"></div>
                <div class="dot" style="--i:2;"></div>
                <div class="dot" style="--i:3;"></div>
                <div class="dot" style="--i:4;"></div>
                <div class="dot" style="--i:5;"></div>
                <div class="dot" style="--i:6;"></div>
                <div class="dot" style="--i:7;"></div>
                <div class="dot" style="--i:8;"></div>
                <div class="dot" style="--i:9;"></div>
                <div class="dot" style="--i:10;"></div>
                <div class="dot" style="--i:11;"></div>
                <div class="dot" style="--i:12;"></div>
                <div class="dot" style="--i:13;"></div>
                <div class="dot" style="--i:14;"></div>
                <div class="dot" style="--i:15;"></div>
                <div class="dot" style="--i:16;"></div>
                <div class="dot" style="--i:17;"></div>
                <div class="dot" style="--i:18;"></div>
                <div class="dot" style="--i:19;"></div>
            </div>
        </header>
        <section class="my_info">
            <article class="content">
                <nav class="menu_bar" style="position: absolute;">
                    <div class="menu_button" onclick="nav_mobile()">
                        <i class="fas fa-bars"></i>
                      </div>
                      <div class="menu_container">
                        <div class="menu_item" onclick="nav_scroll('header')">HOME</div>
                        <div class="menu_item" onclick="nav_scroll('my_info')">
                          ABOUT
                        </div>
                        <div class="menu_item" onclick="nav_scroll('skill')">
                          SKILLS
                        </div>
                        <div class="menu_item" onclick="nav_scroll('projects')">
                          PROJECTS
                        </div>
                        <div class="menu_item" onclick="nav_scroll('footer')">CONTACT</div>
                      </div>
                </nav>
            </article>
        </section>
        <section class = "skill">
            <div class="skill-card" id="js">
                <div class="skill-card-circle">
                    <div class="skill-card-content">                        
                        <h2>javascript</h2>
                        <ul>
                            <li>ES6 문법 사용</li>
                            <li>콜백 및 프로미스를 사용한 개발</li>
                        </ul>
                    </div>
                </div>
                <img src='/javascript'>
            </div>
            <div class="skill-card" id="nodejs">
                <div class="skill-card-circle">
                    <div class="skill-card-content">                        
                        <h2>NodeJS</h2>
                        <ul>
                            <li>AJAX를 이용한 프론트와 백엔드 연결</li>
                            <li>WebSocket을 이용한 개발</li>
                        </ul>
                    </div>
                </div>
                <img src='/nodejs'>
            </div>
            <div class="skill-card" id="aws">
                <div class="skill-card-circle">
                    <div class="skill-card-content">                        
                        <h2>AWS</h2>
                        <ul>
                            <li>EC2를 이용한 서버 생성</li>
                            <li>AWS RDS 이용한 데이터베이스 생성 및 서버 연동</li>
                            <li>로드 밸런싱 및 DNS 설정, SSL 보안 인증</li>
                            <li>Git, CodeDeploy 및 CodePipeline을 이용한 자동화</li>
                        </ul>
                    </div>
                </div>
                <img src='/aws'>
            </div>
            <div class="skill-card" id="linux">
                <div class="skill-card-circle">
                    <div class="skill-card-content">                        
                        <h2>Linux</h2>
                        <ul>
                            <li>쉘을 작성해서 자동화</li>
                            <li>웹 및 데이터베이스 서버 설정</li>
                            <li>RAID 구축 및 UFW(방화벽) 설정</li>
                            <li>간단한 NAS같은 클라우드 서버 구축</li>
                        </ul>
                    </div>
                </div>
                <img src='/linux'>
            </div>
        </section>
        <section class = "projects">
            
        </section>
        <footer>
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100004452064267" target='_blank'><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/seungcheol-cha-6b0367179/" target='_blank'><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/FroKCreativeTM" target='_blank'><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/user/djbluefrog/videos" target='_blank'><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
        </footer>
    </body>
</html>