<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/main.css">
        <link href="/fa/font-awesome.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <!-- 내 로고가 들어가면 보통 여기 ? -->
            <div class="title">
                <div class="dot" style="--i:0;"></div>
                <div class="dot" style="--i:1;"></div>
                <div class="dot" style="--i:2;"></div>
                <div class="dot" style="--i:3;"></div>
                <div class="dot" style="--i:4;"></div>
                <div class="dot" style="--i:5;"></div>
                <div class="dot" style="--i:6;"></div>
                <div class="dot" style="--i:7;"></div>
                <div class="dot" style="--i:8;"></div>
                <div class="dot" style="--i:9;"></div>
                <div class="dot" style="--i:10;"></div>
                <div class="dot" style="--i:11;"></div>
                <div class="dot" style="--i:12;"></div>
                <div class="dot" style="--i:13;"></div>
                <div class="dot" style="--i:14;"></div>
                <div class="dot" style="--i:15;"></div>
                <div class="dot" style="--i:16;"></div>
                <div class="dot" style="--i:17;"></div>
                <div class="dot" style="--i:18;"></div>
                <div class="dot" style="--i:19;"></div>
            </div>
            <h2>Cha Seung Cheol's Portfolio</h2>
            <div class="title">
                <div class="dot" style="--i:0;"></div>
                <div class="dot" style="--i:1;"></div>
                <div class="dot" style="--i:2;"></div>
                <div class="dot" style="--i:3;"></div>
                <div class="dot" style="--i:4;"></div>
                <div class="dot" style="--i:5;"></div>
                <div class="dot" style="--i:6;"></div>
                <div class="dot" style="--i:7;"></div>
                <div class="dot" style="--i:8;"></div>
                <div class="dot" style="--i:9;"></div>
                <div class="dot" style="--i:10;"></div>
                <div class="dot" style="--i:11;"></div>
                <div class="dot" style="--i:12;"></div>
                <div class="dot" style="--i:13;"></div>
                <div class="dot" style="--i:14;"></div>
                <div class="dot" style="--i:15;"></div>
                <div class="dot" style="--i:16;"></div>
                <div class="dot" style="--i:17;"></div>
                <div class="dot" style="--i:18;"></div>
                <div class="dot" style="--i:19;"></div>
            </div>
        </header>
        <hr size="1px" color = "white">
        <section class="my_info">
            <article class="content">
                <nav class="menu_bar" style="position: absolute;">
                    <div class="menu_button" onclick="nav_mobile()">
                        <i class="fas fa-bars"></i>
                      </div>
                      <div class="menu_container">
                        <div class="menu_item" onclick="nav_scroll('header')">HOME</div>
                        <div class="menu_item" onclick="nav_scroll('my_info')">
                          ABOUT
                        </div>
                        <div class="menu_item" onclick="nav_scroll('skill')">
                          SKILLS
                        </div>
                        <div class="menu_item" onclick="nav_scroll('projects')">
                          PROJECTS
                        </div>
                        <div class="menu_item" onclick="nav_scroll('footer')">CONTACT</div>
                      </div>
                </nav>
            </article>
        </section>
        <hr size="1px" color = "white">
        <section class = "skill">
            <div class="container">
                <div class="card">
                    <div class="content">
                        <img src="/javascript">
                        <h2>javascript</h2>
                        <ul>
                            <li>ES6 문법 사용</li>
                            <li>콜백 및 프로미스를 사용한 개발</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <img src="/nodejs">
                        <h2>NodeJS</h2>
                        <ul>
                            <li>AJAX를 이용한 프론트와 백엔드 연결</li>
                            <li>WebSocket을 이용한 개발</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <img src="/aws">
                        <h2>AWS</h2>
                        <ul>
                            <li>EC2를 이용한 서버 생성</li>
                            <li>AWS RDS 이용한 데이터베이스와 서버 연동</li>
                            <li>로드 밸런싱 및 DNS 설정, SSL 보안 인증</li>
                            <li>Git, CodeDeploy 및 CodePipeline을 이용한 자동화</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <img src="/linux">
                        <h2>Linux</h2>
                        <ul>
                            <li>쉘을 작성해서 자동화</li>
                            <li>웹 및 데이터베이스 서버 설정</li>
                            <li>RAID 구축 및 UFW(방화벽) 설정</li>
                            <li>간단한 NAS같은 클라우드 서버 구축</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr size="1px" color = "white">
        <section class = "projects">
            <article class="article_project">
                <div class="article_title_wrap">
                  <span class="article_title">PROJECTS</span>
                </div>
        
                <div class="project_container">
                  <div class="project_img project_img1"></div>
                  <div class="project_intro project_intro1">
                    <div class="project_intro_title">
                      <span class="highlight">01</span>주식 일기장
                    </div>
                    <div class="project_intro_text">
                      <p>
                        일기장을 기반으로 한 간편한 주식기록장 어플리케이션입니다.<br />
                        차트 및 투자현황 확인을 구현했습니다.<br />
                      </p>
                      <p>
                        <span>참여 인원</span>4 명<br />
                        <span>개발 기간</span>2021.08.26 ~ 2021.08.28<br />
                      </p>
                      <p>
                        <span class="highlight">Client</span>Java, Android Studio, Room API<br />
                      </p>
                        <div
                          class="project_intro_button"
                          onclick="github_on('stocker')"
                        >
                          Github 보기
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="project_container project_container2">
                  <div class="project_img project_img2"></div>
                  <div class="project_intro project_intro2">
                    <div class="project_intro_title">
                      <span class="highlight">02</span>실외 CCTV 폭력 인식 시스템
                    </div>
                    <div class="project_intro_text">
                      <p>
                        사람의 육안에 의존하는 현재 CCTV 관제 환경을 좀 더 사람이 편하게 개선한 관제 시스템입니다.<br />
                        사람들이 사용하기 편하게 하기 위해 웹 환경을 이용합니다.<br />
                      </p>
                      <p>
                        <span>참여 인원</span>3 명<br />
                        <span>개발 기간</span>2021.03 ~ 2021.06<br />
                      </p>
                      <p>
                        <span class="highlight">Client</span>Nunjucks, javascript<br />
                        <span class="highlight">Server</span>javascript, NodeJS, Tensorflow, MySQL, OpenCV
                        <br />
                      </p>
                      <div class="project_intro_button_box">
                        <div
                          class="project_intro_button"
                          onclick="youtube_on('DQyG3o-RWzU')"
                        >
                          YouTube 보기
                        </div>
                        <div
                          class="project_intro_button"
                          onclick="github_on('Capstone')"
                        >
                          Github 보기
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!---<div class="project_container project_container3">
                  <div class="project_img project_img3"></div>
                  <div class="project_intro project_intro3">
                    <div class="project_intro_title">
                      <span class="highlight">03</span>RunRun!
                    </div>
                    <div class="project_intro_text">
                      <p>
                        미니게임 형식의 Toy Project입니다.<br />
                        모바일에 최적화 되어있는 웹페이지입니다.<br />
                        학원 동기들과 점심내기를 하기위해 만들었습니다.<br />
                      </p>
                      <p>
                        <span>참여 인원</span>1 명<br />
                        <span>개발 기간</span>19.04 ~ 19.05<br />
                      </p>
                      <p>
                        <span class="highlight">Client</span>React, Sass<br />
                        <span class="highlight">Server</span>heroku<br />
                      </p>
                      <div class="project_intro_button_box">
                        <div
                          class="project_intro_button"
                          onclick="youtube_on('idJDuzoHI68')"
                        >
                          YouTube 보기
                        </div>
                        <div
                          class="project_intro_button"
                          onclick="github_on('RunRun-')"
                        >
                          Github 보기
                        </div>
                      </div>
                      <div
                        class="project_intro_button2"
                        onclick="page_on('https://animalrun.netlify.com/')"
                      >
                        사이트로 이동
                      </div>
                    </div>
                  </div>
                </div>
            -->
              </article>
        </section>
        <hr size="1px" color = "white">
        <footer>
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100004452064267" target='_blank'><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/seungcheol-cha-6b0367179/" target='_blank'><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/FroKCreativeTM" target='_blank'><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/user/djbluefrog/videos" target='_blank'><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
        </footer>
        <div class="modal" onclick="modal_off()">
            <div class="modal_close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="modal_youtube" id="player"></div>
        </div>
        <script type="text/javascript" src="/vanilla-tilt.js"></script>
        <script type="text/javascript" src="/index.js"></script>
        <script>
            VanillaTilt.init(document.querySelectorAll(".card"), {
                max: 25,
                speed: 400
            });
        </script>
    </body>
</html>