/* import */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #161623;
}
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#preload {
  display: none;
}

body * {
  font-family: "Noto Sans KR", sans-serif;
}

/* header */
header 
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: linear-gradient(#001300, black);
  animation : changeColor 5s linear infinite;
}

@keyframes changeColor {
  0% 
  {
    fliter : hue-rotate(0deg);
  }
  100%
  {
    fliter : hue-rotate(300deg);
  }
}

header h2 
{
  color: #fff;
  font-weight: 700;
  letter-spacing: 10px;
}

header .title 
{
  position: relative;
  display: flex;
}

header .title .dot
{
  position: relative;
  display: block;
  width: 20px;
  height : 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #fff,
              0 0 20px #fff,
              0 0 40px #fff,
              0 0 60px #fff,
              0 0 80px #fff,
              0 0 100px #fff;
  margin: 20px 10px;
  transform: scale(0.1);
  border-radius: 50%;
  animation : animateDot 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

header .title:last-child .dot
{
  animation-delay: calc(-0.1s * var(--i));
}

@keyframes animateDot {
  0%
  {
    transform: scale(0.1);
  }
  10% 
  {
    transform: scale(1);
  }
  50%, 100% 
  {
    transform: scale(0.1);
  }
}

/*  */
.menu_bar 
{
  position: absolute;
  -js-display: flex;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #161c24;
  z-index: 10000;
  border-bottom: 3px solid #4ad7d1;
}

.menu_bar .menu_button 
{
  display: none;
}

.menu_bar .menu_container
{
  position: relative;
  -js-display: flex;
  display: flex;
  padding-left: 5%;
  width: 100%;
  height: 100%;
}

.menu_bar .menu_item
 {
  -js-display: flex;
  display: flex;
  align-items: center;
  margin-right: 5%;
  font-size: 1.1em;
  font-weight: 400;
  color: white;
}

.menu_bar .menu_item:hover 
{
  cursor: pointer;
}

/* skill 파트 */
.skill 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.skill::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(#f00, #f0f);
  clip-path: circle(30% at right 70%);
}

.skill::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(20% at 10% 10%);
}

.container 
{
  position : relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  flex-wrap: wrap;
  z-index: 1;
}

.container .card
{
  position: relative;
  width: 300px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .content 
{
  padding: 20px;
  text-align: center;
  transition: 0.5S;
}

.container .card .content img
{
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
  opacity: 0.2;
  pointer-events: none;
}

.container .card .content h2
{
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.container .card .content ul li
{
  list-style:none;
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

/* 각 article 당 타이틀 */
.article_title_wrap {
  box-sizing: initial;
  -js-display: flex;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  width: 100%;
  height: max-content;
  text-align: center;
}

.article_title {
  position: relative;
  /* -js-display: flex;
    display: flex;
    justify-content: center; */
  width: max-content;
  height: max-content;
  font-size: 2em;
  font-weight: 600;
  color: #fff;
}
.article_title::before {
  content: "";
  position: absolute;
  margin-left: 22.5%;
  padding-left: 0;
  left: 0;
  width: 55%;
  height: 130%;
  border-bottom: 3px solid white;
}

/* project */
.project {
  -js-display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  height: max-content;
}

.article_project {
  -js-display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  width: 100%;
}
.project_container {
  position: relative;
  -js-display: flex;
  display: flex;
  margin-bottom: 5%;
  width: 100%;
  color: #fff;
}

.project_container3 {
  margin-bottom: 6%;
}
.project_img {
  margin: 0 2%;
  width: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
.project_img1 {
  background-image: url("/portfolio1");
}

.project_img2 {
  background-image: url("/portfolio2");
  order: 2;
}
.project_img3 {
  background-image: url("/portfolio3");
}

.project_intro {
  margin: 2%;
  width: 50%;
}
.project_intro2 {
  order: 1;
}
.project_intro_title {
  padding: 0 5%;
  width: 100%;
  font-size: 2em;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.05em;
}
.project_intro_title span {
  font-size: 1.2em;
  margin-right: 15px;
  letter-spacing: 0;
}
.project_intro_text {
  padding: 6% 5%;
  width: 100%;
  font-size: 1em;
  font-weight: 300;
}
.project_intro_text p {
  margin-bottom: 4%;
  line-height: 1.5em;
}
.project_intro_text span {
  margin-right: 10px;
  font-weight: 500;
}
.project_intro_button_box {
  -js-display: flex;
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
  width: 100%;
  height: 50px;
}
.project_intro_button {
  width: 48.5%;
  line-height: 50px;
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
  border: 1.5px solid #fe4a49;
  transition: all 0.3s ease-in-out;
}
.project_intro_button:hover {
  color: white;
  background-color: #fe4a49;
}
.project_intro_button i {
  font-size: 30px;
}
.project_intro_button2 {
  margin-top: 3%;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  background: #fe4a49;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* footer */
footer 
{
  position: absolute; 
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer::before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  backdrop-filter: blue(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

footer ul 
{
  position: relative;
  display: flex;
  z-index: 2;
}

footer ul li
{
  position: relative;
  list-style: none;
  margin: 10px;
}

footer ul li a
{
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(100, 100, 100, 0.2);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}

footer ul li a:hover
{
  transform: translateY(-20px);
}

footer ul li a::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}

footer ul li a::before:hover
{
  transform: skewX(45deg) translateX(-150px);
}

/* Modal =================================================== */
.modal {
  position: fixed;
  -js-display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10001;
}
.modal_close {
  position: absolute;
  margin: 20px;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  font-size: 50px;
  text-align: center;
  color: lightgray;
  cursor: pointer;
  z-index: 10003;
}
.modal_close:hover {
  color: #fe4a49;
}
.modal_youtube {
  position: absolute;
  width: 853px;
  height: 480px;
  background-color: black;
  z-index: 10002;
}